<nav class="nav-wrapper">
    <a routerLink="/home">
        <img id="logo" src="../../../assets/shared/logo.svg" alt="logo">
    </a>
    <ul class="navbar">
        <!-- routerLinkActive="active" -->
        <li ><a routerLinkActive="active" routerLink="/home"> <span>00</span> H O M E</a></li>
        <li ><a routerLinkActive="active" routerLink="/destination"><span>01</span> D E S T I N A T I O N</a></li>
        <li ><a routerLinkActive="active" routerLink="/crew"><span>02</span> C R E W</a></li>
        <li ><a routerLinkActive="active" routerLink="/technology"><span>03</span> T E C H N O L O G Y</a></li>
    </ul>
</nav>
<!-- <hr id="line"> -->
