<div class="container">

    <div class="info">
        <div class="title">
            <h1><span id="title-num">0 3</span> <span>S P A C E</span>    <span>L A U N C H</span>    <span>1 0 1</span></h1>
        </div>
        <div class="content">

            <div class="button-content">
                <div (click)="changeButton1(btn1)" #btn1 class="button" id="btn-clicked">1</div>
                <div (click)="changeButton2(btn2)" #btn2 class="button" >2</div>
                <div (click)="changeButton3(btn3)" #btn3 class="button">3</div>
            </div>

            <div class="info-content">
                <div class="subtitle">
                    <span>T H E</span> <span>T E R M I N O L O G Y</span>
                </div>
                <div class="info-content-title">
                    <h2>LAUNCH VEHICLE</h2>
                </div>
                <div class="section">
                    <p>A launch vehicle or carrier rocket is a rocket-propelled vehicle used to carry a payload from Earth's surface to space, usually to Earth orbit or beyond. Our WEB-X carrier rocket is the most powerful in operation. Standing 150 metres tall, it's quite an awe-inspiring sight on the launch pad!</p>
                </div>
            </div>

        </div>
    </div>

    <div class="image">
        <img src="../../assets/technology/image-launch-vehicle-portrait.jpg" alt="">
    </div>

</div>
